.report-info-win {
	font-family: serif; 
	font-size:12px; 
}
		
a:link { color: #ffffff; text-decoration: none; font-weight: normal;} 
a:active, a:hover { color: #f1f118; text-decoration: none;}

p {
	margin: 0px;
	padding: 0px;
}

img {
	margin: 0px;
	padding: 0px;
	border: none;
}

/*header & menu*/

body {
	margin: 0;
	padding: 0;
	line-height: 1.5em;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	background: #4b4c3e url(images/background.jpg) repeat;
}

#container{
	width: 90%;
	margin: 0 auto;
	min-width: 450px;
}

#header_panel {
	height: 95px;
	background-image: url(images/header_bg.png);
	background-size: 100% 95px;
}

#site_title {
	padding: 40px 40px 10px 40px;
	text-align: center;
	letter-spacing: 15px;
	font-size:8vmin;
	color: #ffffff;
	font-weight: bold;
}

#menu {
	height: 60px;
	background: url(images/menu_bg.png);
	background-size: 100% 60px;
}


#menu ul {
	margin: 0;
	padding-left: 2%;
	padding-top: 10px;
	list-style: none;
}

#menu ul li a{
	float: left;
	padding-top: 12px;
	margin-left:auto;
	width: 24.5%;
	height: 38px;
	text-align: center;
	font-size:16px;
	font-weight: bold;
	text-decoration: none;
	color: #FFF;
}

#menu li a:hover, #menu li .current{
	color: #FFF;
	background: url(images/menu_hover.gif);
	background-size: 100% 50px;
}

@media screen and (max-width: 900px){
	#menu {
		height: 80px;
		background-size: 100% 80px;
	}
	#menu ul li a{
		height: 58px;
		padding-top: 12px;
	}
	#menu li a:hover, #menu li .current{
	background-size: 100% 70px;
	}
}

@media screen and (max-width: 500px){
	#menu ul li a{
		font-size:13px;
	}
	#site_title {
		font-size:38px;
	}
}

#top_panel {
	height: auto;
	padding: 30px;
	background: url(images/top_panel_bg.png);
	background-size: 100%;
}

/* footer */
#footer {
	clear: both;
	color: #ffffff;
	height: 45px;
	padding-top: 25px;
	text-align: center;
	background: url(images/footer_bg.png) no-repeat;
	background-size: 100% 70px;
}

#footer a{
	text-decoration:none;
	color: #fff;
	font-weight: normal;
}


/*index.php*/

#map_canvas {
    width: auto;
    height: 500px;
    border-radius: 10px;
    background-color: #CCC;
}

#bottom_panel {
	height: auto;
	padding: 30px;
	background: url(images/bottom_panel_bg.png);
	background-size: 100%;
}

#bottom_panel table {
	width: 100%;
}

#separator_image_1 {
	margin-left: 10%;
	margin-right: 10%;
	min-width: 36px;
	height: 285px;
	background: url(images/separator.png) no-repeat center;
}

#separator_image_2 {
	margin-left: 10%;
	margin-right: 10%;
	min-width: 36px;
	height: 285px;
	background: url(images/separator.png) no-repeat center;
}

.section_title {
	font-size: 16px;
	margin-bottom: 20px;
	font-weight: bold;
	color: #f1f118;
}

#section_info {
	min-width: 150px;
	margin-left: 10%;
	width: 25%;
	height: 285px;
	vertical-align:top;
}

.info_title {
	font-size: 14px;
	font-weight: bold;
}

#section_rss {
	min-width: 190px;
	margin-left: 10%;
	width: 25%;
	height: 285px;
	vertical-align:top;
}

#list_of_reports {
	overflow:hidden;
	min-width: 200px;
	height: 180px;
	font-size: 12px;
	font-weight: normal;
	background: #;
}

.rss_button {
	padding-top: 20px;
}

.rss_button a{
	margin: 0 auto;
	display: block;
	width: 40px;
	height: 40px;
	background: url(images/rss_icon.png) no-repeat;
	background-size: 100%;
}

#section_stat {
	min-width: 250px;
	margin-left: 10%;
	width: 35%;
	height: 285px;
	vertical-align:top;
}

.section_text ul {
	padding-left: 5px;
}

.section_text li{
	padding-bottom: 20px;
	list-style: none;
}

@media screen and (max-width: 820px){
	#section_info {
		display:none;
	}
	#separator_image_1{
		display:none;
	}
}

@media screen and (max-width: 600px){
	#section_rss {
		display:block;
		width: 100%;
		margin-bottom:10px;
		margin-left: 0;
	}
	#section_stat {
		display:block;
		width: 100%;
		height: 200px;
		margin-left: 0;
	}
	.rss_button {
		padding-top: 0;
	}
	#separator_image_2{
		display:none;
	}
}

.error_reg_field {
	font-size: 12px;
	font-weight: normal;
	color: #ffffff;
	min-width:220px;
	margin-bottom: 10px;
}

.field {
	min-width: 250px;
	margin-bottom: 10px;
}

.submit {
	display: block;
	margin:0 auto;
	width: 80px;
	text-decoration: none;
}

/*login_page*/
#login_field {
	padding:auto;
	font-size: 15px;
	font-weight: bold;
	color: #0066CC;
	vertical-align:middle;
}

#login_field table {
	width: 100%;
}

#login_field td {
	min-width: 250px;
	padding-left: 5%;
	width: 50%;
}

.error_login_field {
	font-size: 12px;
	font-weight: normal;
	color: #ffffff;
	min-width:220px;
	margin-bottom: 10px;
}

#login_image {
	width: 100%;
	height: auto;
	max-width: 350px;
	margin-left:-20px;
}

@media screen and (max-width: 920px){
    #login_image {
        display: none;
     }
     #login_image img {
		display: none;
     }
}

@media screen and (max-width: 650px){
	#login_field td {
		padding-left:0;
		display: block;
	}
}

/*registration_page*/

.reg_report {
	font-size: 20px;
	font-weight: bold;
	color: #ff0000;	
	text-align: center;
}

#reg_field {
	padding:auto;
	font-size: 15px;
	font-weight: bold;
	color: #0066CC;
	vertical-align:middle;
}

#reg_field table {
	width: 100%;
}

#reg_field td {
	margin-left: 10%;
	min-width: 180px;
	width: 50%;
}

#reg_image{
	width: 100%;
	height: auto;
	max-width: 350px;
	margin-left: 10%;
}

@media screen and (max-width: 1070px){
    #reg_image{
		display: none;
    }
    #reg_image img{
		display: none;
    }
}

@media screen and (max-width: 790px){
	#reg_field td {
		padding-left:0;
		display: block;
	}
}

/*my_reports_page*/
#my_reports_field {
	padding:auto;
	font-size: 15px;
	font-weight: bold;
	color: #0066CC;
	vertical-align:middle;
}

#my_reports_field table {
	width: 100%;
}

#report_map {
	min-width: 180px;
	width: 85%;
}

#report_list {
	float: right;
	min-width: 230px;
	margin-left: 10px;
}

#new_report_map_canvas {
    height: 500px;
    border-radius: 10px;
    background-color: #CCC;
}

#my_reports_list {
	overflow:auto;
	width: 250px;
	height: 450px;
	font-size: 12px;
	font-weight: normal;
	color: #ffffff;	
}

@media screen and (max-width: 790px){
	#report_map {
		width: 100%;
		display: block;
	}
	#report_list {
		width: 100%;
		margin-top: 10px;
		display: block;
	}
	
	#my_reports_list {
		width: 250px;
		height: 250px;
	}
}

@media screen and (max-width: 500px){
	#new_report_map_canvas {
		height: 400px;
	}
}

/*my_account*/
#my_account_field {
	padding:auto;
	font-size: 15px;
	font-weight: bold;
	color: #0066CC;
	vertical-align:middle;
}

#my_account_field table {
	width: 100%;
}

#my_account_field td {
	padding-left: 2%;
	min-width: 220px;
	width: 50%;
}

@media screen and (max-width: 870px){
	#my_account_field td {
		padding-left:0;
		display: block;
	}
}

#my_account_field td img{
	width: 100%;
	height: auto;
	max-width: 350px;
	margin-left: 10%;
}

@media screen and (max-width: 1100px){
    #my_account_field img {
        display: none;
     }
}

/*reports*/
#reports_field {
	padding:auto;
	margin-bottom: 20px;
	font-size: 15px;
	font-weight: bold;
	color: #0066CC;
	vertical-align:middle;
}

#reports_field table {
	width: 100%;
}

#admin_reports_map {
	min-width: 180px;
	width: 85%;
}

#reports_list {
	float: right;
	min-width: 230px;
	margin-left: 10px;
}

#reports_map_canvas {
    height: 500px;
    border-radius: 10px;
    background-color: #CCC;
}

#list_unsolved_reports {
	overflow:auto;
	width: 250px;
	height: 180px;
	font-size: 12px;
	font-weight: normal;
	color: #ffffff;
	background: #;
}

#list_solved_reports {
	overflow:auto;
	width: 250px;
	height: 180px;
	font-size: 12px;
	font-weight: normal;
	color: #ffffff;
	background: #;
}

#category_field {
	width: 100%;
	font-size: 15px;
	font-weight: bold;
	color: #0066CC;	
}

#category_field td {
	min-width: 150px;
}

@media screen and (max-width: 790px){
	#admin_reports_map {
		width: 100%;
		display: block;
	}
	#reports_list {
		width: 100%;
		margin-top: 10px;
		display: block;
	}
	
	#list_unsolved_reports {
		width: 250px;
		height: 200px;
	}
	
	#list_solved_reports {
		width: 250px;
		height: 200px;
	}
	
	#category_field td {
		padding-left:0;
		display: block;
	}
}

@media screen and (max-width: 500px){
	#reports_map_canvas {
		height: 400px;
	}
}

/*uploadphotos*/
#upload_field{
	text-align: center;
	padding:auto;
	font-size: 15px;
	font-weight: bold;
	color: #fff;
	vertical-align:middle;
}

#upload_field table {
	width: 100%;
}

#upload_field td {
	min-width:70px;
	max-width:30%;
}

.photo_thump{
	width:auto;
	max-height:150px;
}

@media screen and (max-width: 790px){
	#upload_field td {
		text-align: left;
		padding-left:0;
		display: block;
		max-width:100%;
	}
	.photo_thump{
		margin-bottom:10px;
	}
}

/*accounts*/
#accounts_field {
	padding:auto;
	font-size: 15px;
	font-weight: bold;
	color: #0066CC;
	vertical-align:middle;
}

#accounts_field table {
	width: 100%;
}

#accounts_field td {
	padding-left: 2%;
	min-width: 230px;
	width: 50%;
}

@media screen and (max-width: 880px){
	#accounts_field td {
		padding-left:0;
		display: block;
	}
}

#profile_image{
	width: 100%;
	height: auto;
	max-width: 350px;
	margin-left: 10%;
}

.double_submit {
	width: 80px;
	text-decoration: none;
}

@media screen and (max-width: 1100px){
    #profile_image {
        display: none;
     }
}
